body{
  padding: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #efefef;
  padding-bottom: 500px;
}

p{
  font-family: 'Times New Roman', Times, serif;
  background-color: #999;
}